* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b2434;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80vh;
  height: 80vh;
  border-radius: 10px;
  background: #f5f5f5;
}
